<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Novo Filme</title>
    <link rel="stylesheet" href="assets/inserir-filmes.css">
</head>
<body>
    <div class="container">
        <h1>Inserir Novo Filme</h1>
        <form action="/inserir-filmes" method="POST">
            <label for="filme">Nome do Filme:</label>
            <input type="text" id="filme" name="filme" required>
            <button type="submit">Inserir</button>
        </form>
        <button id="backButton" onclick="window.location.href='/acesso-privado.html'">Voltar</button>
    </div>
</body>
</html>
<!-- >